/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: dimgray;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}


/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 18px;
	border-radius: 3px;
	padding: 11px 16px 9px 16px;
	/*width: 100px;*/
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}



/****** Non-Clementine Styling ******/

.pointer {
	cursor: pointer;
}

.block {
	display: inline-block;
}

a {
	color: inherit;
	text-decoration: inherit;
}

.btn {
	cursor: pointer;
	text-align: center;
}

.search {
	background-color: #00BC00;
}

.header {
	padding: 10px;
	background-color: #EEEEEE;
}

.header>.home {
	width: 50%;
	text-align: left;
	display: inline-block;
}
.header>.user {
	width: 50%;
	text-align: right;
	display: inline-block;
}
.brackets, .with {
	font-weight: normal;
}
.gh-logo {
	float: right;
	width: 20px;
	height: 20px;
}

h1 {
	text-align: center;
	color: white;
	font-weight: normal;
}

#searchdiv {
	width: 500px;
	margin: auto;
}
.location>span {
	margin-right: 10px;
}
.location>input {
	width: 400px;
	padding: 8px;
	border: solid 2px #309050;
	border-radius: 3px;
	transition: box-shadow 0.3s, border 0.3s;
	background-color: lightgray;
	font-size: 20px;
}
.location>input:focus,
.location>input.focus{
	border: solid 2px #77ddaa;
	box-shadow: 0 0 8px 2px #00C070;
}

.list {
	margin-top: 40px;
}
.bar {
	width: 1000px;
	height: 120px;
	margin: auto;
	padding:  20px;
}
.even {
	background-color: #D5C3AA;
}
.odd {
	background-color: #EAE2D6;
}
.photo {

}
.info{
	vertical-align: top;
	margin-left: 30px;
}
.name {
	font-size: 32px;
}
.location {
	font-size: 24px;
	color: darkslategray;
	margin-left: 15px;
}
.going {
	font-size: 24px;
	color: #263CE7;
}
.zero {
	color: #5C7C9C;
}
.go {
	font-size: 24px;
	color: #007040;
	margin-left: 15px;
}
.igo {
	font-size: 24px;
	color: #E70036;
	margin-left: 15px;
}

#yelp {
	height: 40px;
	margin-top: 20px;
	text-align: center;
}
