
include header

html
  head
      title Nightlife Coordination App
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
      link(href="/public/css/main.css", rel="stylesheet", type="text/css")

  body

    +mx-header(logged, route)

    h1 Nightlife Coordination

    div#searchdiv
        div.field.block.location
            input#location.form-control(type="text", placeholder="Type in your location")
        div#searchbtn.btn.search.block Find

    div.list

    div#yelp


    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/searchController.client.js")
    script(type="text/javascript" src="/controllers/userController.client.js")

