
include header

html
    head
        title Voting App - Polls Manager
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
        link(href="/public/css/main.css", rel="stylesheet", type="text/css")

    body

    //+mx-header(username, route)
    +mx-header(logged, route)

    h1 Manage my polls
    //(#{username})

    div.panels

        div#new.panel
            div.title Poll editor
            div.fields
                div#pollid(style="display:none;")
                div.field
                    span Title
                    br
                    input#polltitle.form-control(required, type="text")
                div.field
                    span Info
                    br
                    input#pollinfo.form-control(type="text")
                div.field
                    span Items (semicolon-separated list)
                    br
                    input#pollitems.form-control(required type="text")
                div.menu
                    div.btn.validate Validate
                    div.btn.delete Delete
                    div#share

        div.panel
            div.title My polls
            div.list


        div.chartdiv.panel
            div.title Chart
            div.display
                div#chartdiv
                    canvas#chart


    script(type="text/javascript" src="/common/ajax-functions.js")
    script(type="text/javascript" src="/controllers/pollsController.client.js")
    script(type="text/javascript" src="/controllers/userController.client.js")

